.list {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  min-width: 320px;
}
.list img {
  max-width: 120px;
}
.list h3 {
  margin: 0;
}
.list-content {
  border-radius: 15px;
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  padding-bottom: 40px;
  margin-top: -20px;
  position: relative;
}
.list-image {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 120px;
  margin-right: 15px;
}

.list-content button {
  background-color: #f5f5f5;
  box-shadow: 5px;
  border-radius: 0px;
  border: 0px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.list-content button img {
  max-width: 114px;
}
.list-content button:hover {
  border-radius: 25px;
  background-color: #dfdfdf;
}

.list-km {
  padding-left: 80px;
}
.list-price {
  padding-top: 50px;
}

/* mobile first*/

@media (min-width: 400px) {
  .list {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .list-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .list-content button {
    position: absolute;
    bottom: 3px;
    right: 10px;
  }
  .list-image {
    justify-content: center;
    margin-right: 40px;
    margin-top: 0px;
  }
  .list img {
    max-width: 180px;
  }
}
@media (min-width: 992px) {
  .list-image {
    margin-right: 0px;
  }
  .list-imageless {
    padding-left: 10px;
    width: 100%;
  }

  .list-image,
  .list-image img {
    max-width: 100%;
  }
  .list-content {
    flex-direction: row;
  }
}
